# ===----------------------------------------------------------------------===
#
# This source file is part of the MarvelService open source project
#
# Copyright (c) 2025 Röck+Cöde VoF. and the MarvelService project authors
# Licensed under the EUPL 1.2 or later.
#
# See LICENSE for license information
# See CONTRIBUTORS for the list of MarvelService project authors
#
# ===----------------------------------------------------------------------===

openapi: 3.1.0
info:
  title: gateway.marvel.com
  description: The Marvel Comics RESTful API.
  contact:
    name: Marvel Entertainment, LLC
    url: https://help.marvel.com/hc/en-us/requests/new?ticket_form_id=32531283865236
  termsOfService: https://developer.marvel.com/terms
  version: Cable
servers:
  - url: https://gateway.marvel.com
    description: Live service
tags:
  - name: characters
    description: Group of endpoints that returns characters.
  - name: comics
    description: Group of endpoints that returns comics.
  - name: creators
    description: Group of endpoints that returns creators.
  - name: events
    description: Group of endpoints that returns events.
  - name: series
    description: Group of endpoints that returns series.
  - name: stories
    description: Group of endpoints that returns stories.
paths:
  /v1/public/characters:
    get:
      tags:
        - characters
      summary: Fetches lists of characters.
      description: Fetches lists of comic characters with optional filters.
      operationId: getCharacters
      parameters:
        - name: name
          in: query
          description: Return only characters matching the specified full character name.
          example: Spider-Man
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Return characters with names that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only characters which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only characters which appear in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only characters which appear in the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - modified
                - -name
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/characters/{characterId}:
    get:
      tags:
        - characters
      summary: Fetches a single character by id.
      description: This method fetches a single character resource. It is the canonical URI for any character resource provided by the API.
      operationId: getCharacterById
      parameters:
        - name: characterId
          in: path
          description: A character id.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/characters/{characterId}/comics:
    get:
      tags:
        - comics
      summary: Fetches lists of comics filtered by a character id.
      description: Fetches lists of comics containing a specific character, with optional filters.
      operationId: getComicsByCharacterId
      parameters:
        - name: characterId
          in: path
          description: The character id.
          required: true
          schema:
            type: integer
        - name: format
          in: query
          description: Filter by the issue format.
          example: comic
          required: false
          schema:
            type: string
            enum:
              - comic
              - magazine
              - trade paperback
              - hardcover
              - digest
              - graphic novel
              - digital comic
              - infinite comic
        - name: formatType
          in: query
          description: Filter by the issue format type.
          example: comic
          required: false
          schema:
            type: string
            enum:
              - comic
              - collection
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          required: false
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          required: false
          schema:
            type: string
            enum:
              - lastWeek
              - thisWeek
              - nextWeek
              - thisMonth
        - name: dateRange
          in: query
          description: Return comics within a predefined date range. Dates must be specified as date1,date2. Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
          example: 2013-01-01,2013-01-02
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: title
          in: query
          description: Return only issues in series whose title matches the input.
          required: false
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description: Return only issues in series whose title starts with the input.
          required: false
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only issues in series whose start year matches the input.
          required: false
          schema:
            type: integer
        - name: issueNumber
          in: query
          description: Return only issues in series whose issue number matches the input.
          required: false
          schema:
            type: integer
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          required: false
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          required: false
          schema:
            type: integer
        - name: upc
          in: query
          description: Filter by UPC.
          required: false
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          required: false
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          required: false
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          required: false
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          required: false
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description: Return only comics which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: creators
          in: query
          description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: sharedAppearances
          in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: collaborators
          in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - issueNumber
                - modified
                - onSaleDate
                - focDate
                - title
                - -issueNumber
                - -modified
                - -onSaleDate
                - -focDate
                - -title
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/characters/{characterId}/events:
    get:
      tags:
        - events
      summary: Fetches lists of events filtered by a character id.
      description: Fetches lists of events in which a specific character appears, with optional filters.
      operationId: getEventsByCharacterId
      parameters:
        - name: characterId
          in: path
          description: A character id.
          required: true
          schema:
            type: integer
        - name: name
          in: query
          description: Filter the event list by name.
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Return events with names that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only events which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: creators
          in: query
          description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: comics
          in: query
          description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - modified
                - startDate
                - -name
                - -modified
                - -startDate
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/characters/{characterId}/series:
    get:
      tags:
        - series
      summary: Fetches lists of series filtered by a character id.
      description: Fetches lists of comic series in which a specific character appears, with optional filters.
      operationId: getSeriesByCharacterId
      parameters:
        - name: characterId
          in: path
          description: A character id.
          required: true
          schema:
            type: integer
        - name: title
          in: query
          description: Filter by series title.
          required: false
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description: Return series with titles that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only series matching the specified start year.
          required: false
          schema:
            type: integer
        - name: modifiedSince
          in: query
          description: Return only series which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: creators
          in: query
          description: Return only series which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: seriesType
          in: query
          description: Filter the series by publication frequency type.
          required: false
          schema:
            type: string
            enum:
              - collection
              - one shot
              - limited
              - ongoing
        - name: contains
          in: query
          description: Return only series containing one or more comics with the specified format.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - comic
                - magazine
                - trade paperback
                - hardcover
                - digest
                - graphic novel
                - digital comic
                - infinite comic
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - title
                - modified
                - startYear
                - -title
                - -modified
                - -startYear
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/characters/{characterId}/stories:
    get:
      tags:
        - stories
      summary: Fetches lists of stories filtered by a character id.
      description: Fetches lists of comic stories featuring a specific character with optional filters.
      operationId: getStoriesByCharacterId
      parameters:
        - name: characterId
          in: path
          description: A character id.
          required: true
          schema:
            type: integer
        - name: modifiedSince
          in: query
          description: Return only stories which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only stories contained in the specified (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: creators
          in: query
          description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - modified
                - -id
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/comics:
    get:
      tags:
        - comics
      summary: Fetches lists of comics.
      description: Fetches lists of comics with optional filters.
      operationId: getComics
      parameters:
        - name: format
          in: query
          description: "Filter by the issue format."
          required: false
          schema:
            type: string
            enum:
              - comic
              - magazine
              - trade paperback
              - hardcover
              - digest
              - graphic novel
              - digital comic
              - infinite comic
        - name: formatType
          in: query
          description: Filter by the issue format type.
          required: false
          schema:
            type: string
            enum:
              - comic
              - collection
        - name: noVariants
          in: query
          description: "Exclude variants (alternate covers, secondary printings, director's cuts, etc.) from the result set."
          required: false
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          required: false
          schema:
            type: string
            enum:
              - lastWeek
              - thisWeek
              - nextWeek
              - thisMonth
        - name: dateRange
          in: query
          description: Return comics within a predefined date range. Dates must be specified as date1,date2. Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
          example: 2013-01-01,2013-01-02
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: title
          in: query
          description: Return only issues in series whose title matches the input.
          required: false
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description: Return only issues in series whose title starts with the input.
          required: false
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only issues in series whose start year matches the input.
          required: false
          schema:
            type: integer
        - name: issueNumber
          in: query
          description: Return only issues in series whose issue number matches the input.
          required: false
          schema:
            type: integer
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          required: false
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          required: false
          schema:
            type: integer
        - name: upc
          in: query
          description: Filter by UPC.
          required: false
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          required: false
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          required: false
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          required: false
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          required: false
          schema:
            type: boolean
        - name: modifiedSince
          in: query
          description: Return only comics which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: creators
          in: query
          description: Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: characters
          in: query
          description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: sharedAppearances
          in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated list of ids.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: collaborators
          in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a comma-separated list of ids.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - issueNumber
                - modified
                - onSaleDate
                - focDate
                - title
                - -issueNumber
                - -modified
                - -onSaleDate
                - -focDate
                - -title
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/comics/{comicId}:
    get:
      tags:
        - comics
      summary: Fetches a single comic by id.
      description: This method fetches a single comic resource. It is the canonical URI for any comic resource provided by the API.
      operationId: getComicById
      parameters:
        - name: comicId
          in: path
          description: A comic id.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/comics/{comicId}/characters:
    get:
      tags:
        - characters
      summary: Fetches lists of characters filtered by a comic id.
      description: Fetches lists of characters which appear in a specific comic with optional filters.
      operationId: getCharactersByComicId
      parameters:
        - name: comicId
          in: path
          description: A comic id.
          required: true
          schema:
            type: integer
        - name: name
          in: query
          description: Return only characters matching the specified full character name
          example: Spider-Man
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Return characters with names that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only characters which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: series
          in: query
          description: Return only characters which appear the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only characters which appear the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - modified
                - -name
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/comics/{comicId}/creators:
    get:
      tags:
        - creators
      summary: Fetches lists of creators filtered by a comic id.
      description: "Fetches lists of comic creators whose work appears in a specific comic, with optional filters."
      operationId: getCreatorsByComicId
      parameters:
        - name: comicId
          in: path
          description: A comic id.
          required: true
          schema:
            type: integer
        - name: firstName
          in: query
          description: Filter by creator first name.
          example: Brian
          required: false
          schema:
            type: string
        - name: middleName
          in: query
          description: Filter by creator middle name.
          example: Michael
          required: false
          schema:
            type: string
        - name: lastName
          in: query
          description: Filter by creator last name.
          example: Bendis
          required: false
          schema:
            type: string
        - name: suffix
          in: query
          description: "Filter by suffix or honorific"
          example: Sr.
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: "Filter by creator names that match critera"
          example: B
          required: false
          schema:
            type: string
        - name: firstNameStartsWith
          in: query
          description: "Filter by creator first names that match critera"
          example: B
          required: false
          schema:
            type: string
        - name: middleNameStartsWith
          in: query
          description: Filter by creator middle names that match criteria.
          example: Mi
          required: false
          schema:
            type: string
        - name: lastNameStartsWith
          in: query
          description: Filter by creator last names that match criteria.
          example: Ben
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only creators which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - firstName
                - middleName
                - lastName
                - suffix
                - modified
                - -firstName
                - -middleName
                - -lastName
                - -suffix
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/comics/{comicId}/events:
    get:
      tags:
        - events
      summary: Fetches lists of events filtered by a comic id.
      description: Fetches lists of events in which a specific comic appears, with optional filters.
      operationId: getEventsByComicId
      parameters:
        - name: comicId
          in: path
          description: A comic id.
          required: true
          schema:
            type: integer
        - name: name
          in: query
          description: Filter the event list by name.
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Return events with names that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only events which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: creators
          in: query
          description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: characters
          in: query
          description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - modified
                - startDate
                - -name
                - -modified
                - -startDate
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/comics/{comicId}/stories:
    get:
      tags:
        - stories
      summary: Fetches lists of stories filtered by a comic id.
      description: Fetches lists of comic stories in a specific comic issue, with optional filters.
      operationId: getStoriesByComicId
      parameters:
        - name: comicId
          in: path
          description: A comic id.
          required: true
          schema:
            type: integer
        - name: modifiedSince
          in: query
          description: Return only stories which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: series
          in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: creators
          in: query
          description: Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: characters
          in: query
          description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - modified
                - -id
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/creators:
    get:
      tags:
        - creators
      summary: Fetches lists of creators.
      description: Fetches lists of comic creators with optional filters.
      operationId: getCreators
      parameters:
        - name: firstName
          in: query
          description: Filter by creator first name.
          example: Brian
          required: false
          schema:
            type: string
        - name: middleName
          in: query
          description: Filter by creator middle name.
          example: Michael
          required: false
          schema:
            type: string
        - name: lastName
          in: query
          description: Filter by creator last name.
          example: Bendis
          required: false
          schema:
            type: string
        - name: suffix
          in: query
          description: Filter by suffix or honorific.
          example: Sr.
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Filter by creator names that match criteria.
          example: B
          required: false
          schema:
            type: string
        - name: firstNameStartsWith
          in: query
          description: Filter by creator first names that match criteria.
          example: B
          required: false
          schema:
            type: string
        - name: middleNameStartsWith
          in: query
          description: Filter by creator middle names that match criteria.
          example: Mi
          required: false
          schema:
            type: string
        - name: lastNameStartsWith
          in: query
          description: Filter by creator last names that match criteria.
          example: Ben
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only creators which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - firstName
                - middleName
                - lastName
                - suffix
                - modified
                - -firstName
                - -middleName
                - -lastName
                - -suffix
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/creators/{creatorId}:
    get:
      tags:
        - creators
      summary: Fetches a single creator by id.
      description: This method fetches a single creator resource. It is the canonical URI for any creator resource provided by the API.
      operationId: getCreatorById
      parameters:
        - name: creatorId
          in: path
          description: A creator id.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/creators/{creatorId}/comics:
    get:
      tags:
        - comics
      summary: Fetches lists of comics filtered by a creator id.
      description: Fetches lists of comics in which the work of a specific creator appears, with optional filters.
      operationId: getComicsByCreatorId
      parameters:
        - name: creatorId
          in: path
          description: A creator id.
          required: true
          schema:
            type: integer
        - name: format
          in: query
          description: Filter by the issue format.
          required: false
          schema:
            type: string
            enum:
              - comic
              - magazine
              - trade paperback
              - hardcover
              - digest
              - graphic novel
              - digital comic
              - infinite comic
        - name: formatType
          in: query
          description: Filter by the issue format type.
          required: false
          schema:
            type: string
            enum:
              - comic
              - collection
        - name: noVariants
          in: query
          description: Exclude variant comics from the result set.
          required: false
          schema:
            type: boolean
        - name: dateDescriptor
          in: query
          description: Return comics within a predefined date range.
          required: false
          schema:
            type: string
            enum:
              - thisWeek
              - lastWeek
              - nextWeek
              - thisMonth
        - name: dateRange
          in: query
          description: Return comics within a predefined date range. Dates must be specified as date1,date2. Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
          example: 2013-01-01,2013-01-02
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: title
          in: query
          description: Return only issues in series whose title matches the input.
          required: false
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description: Return only issues in series whose title starts with the input.
          required: false
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only issues in series whose start year matches the input.
          required: false
          schema:
            type: integer
        - name: issueNumber
          in: query
          description: Return only issues in series whose issue number matches the input.
          required: false
          schema:
            type: integer
        - name: diamondCode
          in: query
          description: Filter by diamond code.
          required: false
          schema:
            type: string
        - name: digitalId
          in: query
          description: Filter by digital comic id.
          required: false
          schema:
            type: integer
        - name: upc
          in: query
          description: Filter by UPC.
          required: false
          schema:
            type: string
        - name: isbn
          in: query
          description: Filter by ISBN.
          required: false
          schema:
            type: string
        - name: ean
          in: query
          description: Filter by EAN.
          required: false
          schema:
            type: string
        - name: issn
          in: query
          description: Filter by ISSN.
          required: false
          schema:
            type: string
        - name: hasDigitalIssue
          in: query
          description: Include only results which are available digitally.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: boolean
        - name: modifiedSince
          in: query
          description: Return only comics which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: characters
          in: query
          description: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: sharedAppearances
          in: query
          description: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: collaborators
          in: query
          description: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - title
                - issueNumber
                - modified
                - onSaleDate
                - focDate
                - -title
                - -issueNumber
                - -modified
                - -onSaleDate
                - -focDate
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComicDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/creators/{creatorId}/events:
    get:
      tags:
        - events
      summary: Fetches lists of events filtered by a creator id.
      description: Fetches lists of events featuring the work of a specific creator with optional filters.
      operationId: getEventsByCreatorId
      parameters:
        - name: creatorId
          in: path
          description: A creator id.
          required: true
          schema:
            type: integer
        - name: name
          in: query
          description: Filter the event list by name.
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Return events with names that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only events which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: characters
          in: query
          description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: comics
          in: query
          description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only events which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - modified
                - startDate
                - -name
                - -modified
                - -startDate
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/creators/{creatorId}/series:
    get:
      tags:
        - series
      summary: Fetches lists of series filtered by a creator id.
      description: Fetches lists of comic series in which a specific creator's work appears, with optional filters.
      operationId: getSeriesByCreatorId
      parameters:
        - name: creatorId
          in: path
          description: A creator id.
          required: true
          schema:
            type: integer
        - name: title
          in: query
          description: Filter by series title.
          required: false
          schema:
            type: string
        - name: titleStartsWith
          in: query
          description: Return series with titles that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: startYear
          in: query
          description: Return only series matching the specified start year.
          required: false
          schema:
            type: integer
        - name: modifiedSince
          in: query
          description: Return only series which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only series which contain the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only series which contain the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: characters
          in: query
          description: Return only series which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: seriesType
          in: query
          description: Filter the series by publication frequency type.
          required: false
          schema:
            type: string
            enum:
              - collection
              - one shot
              - limited
              - ongoing
        - name: contains
          in: query
          description: Return only series containing one or more comics with the specified format.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - comic
                - magazine
                - trade paperback
                - hardcover
                - digest
                - graphic novel
                - digital comic
                - infinite comic
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - title
                - startYear
                - modified
                - -title
                - -startYear
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/creators/{creatorId}/stories:
    get:
      tags:
        - stories
      summary: Fetches lists of stories filtered by a creator id.
      description: Fetches lists of comic stories by a specific creator with optional filters.
      operationId: getStoriesByCreatorId
      parameters:
        - name: creatorId
          in: path
          description: A creator id.
          required: true
          schema:
            type: integer
        - name: modifiedSince
          in: query
          description: Return only stories which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: comics
          in: query
          description: Return only stories contained in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only stories contained the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: events
          in: query
          description: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: characters
          in: query
          description: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - modified
                - -id
                - -modified
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoryDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/events:
    get:
      tags:
        - events
      summary: Fetches lists of events.
      description: Fetches lists of events with optional filters.
      operationId: getEvents
      parameters:
        - name: name
          in: query
          description: Return only events which match the specified name.
          required: false
          schema:
            type: string
        - name: nameStartsWith
          in: query
          description: Return events with names that begin with the specified string.
          example: Sp
          required: false
          schema:
            type: string
        - name: modifiedSince
          in: query
          description: Return only events which have been modified since the specified date.
          required: false
          schema:
            type: string
            format: date
        - name: creators
          in: query
          description: Return only events which feature work by the specified creators (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: characters
          in: query
          description: Return only events which feature the specified characters (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: series
          in: query
          description: Return only events which are part of the specified series (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: comics
          in: query
          description: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: stories
          in: query
          description: Return only events which take place in the specified stories (accepts a comma-separated list of ids).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: orderBy
          in: query
          description: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - modified
                - startDate
                - -name
                - -modified
                - -startDate
        - name: limit
          in: query
          description: Limit the result set to the specified number of resources.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Skip the specified number of resources in the result set.
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not Found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/events/{eventId}:
    get:
      tags:
        - events
      summary: Fetches a single event by id.
      description: This method fetches a single event resource. It is the canonical URI for any event resource provided by the API.
      operationId: getEventById
      parameters:
        - name: eventId
          in: path
          description: An event id.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataWrapper'
        "401":
          description: Unauthorized response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "403":
          description: Forbidden response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "404":
          description: Not found response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "405":
          description: Method Not Allowed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "409":
          description: Conflict response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
        "429":
          description: Too Many Requests response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /v1/public/events/{eventId}/characters:
    get:
      tags:
        - characters
      summary: Fetches lists of characters filtered by an event id.
      description: Fetches lists of characters which appear in a specific event, with optional filters.
      operationId: getCharactersByEventId
      parameters:
        - name: eventId
          in: path
          description: An event id.
          required: true
          schema:
            type: integer
        - name: name
          in: query
[...]
